@page "/admin-dashboard"
@rendermode InteractiveWebAssembly
@using Microsoft.AspNetCore.Authorization
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using HPCTechSummer2025MovieAppShared
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups
@attribute [Authorize(Roles = "Admin")]

@if (Users?.Any() ?? false)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <SfGrid DataSource="Users"
                        TValue="UserEditDto"
                        @ref="userGrid"
                        AllowSorting="true">
                    <GridEvents TValue="UserEditDto"
                                OnRecordDoubleClick="UserDoubleClickHandler">
                    </GridEvents>
                    <GridColumns>
                        <GridColumn Field="FirstName" HeaderText="First Name" Width="150"></GridColumn>
                        <GridColumn Field="LastName" HeaderText="Last Name" Width="150"></GridColumn>
                        <GridColumn Field="UserName" HeaderText="User Name" Width="200"></GridColumn>
                        <GridColumn Field="Email" HeaderText="Email" Width="200"></GridColumn>
                        <GridColumn Field="@nameof(UserEditDto.EmailConfirmed)" Width="150">
                            <Template>
                                @{
                                    var userEditDto = (context as UserEditDto);
                                    <span id="IsActive" title="@(userEditDto.EmailConfirmed ? "Enabled":"Disabled")">
                                        <SfCheckBox @bind-Checked="userEditDto.EmailConfirmed" TChecked="bool" 
                                                    @onchange="eventArgs => { ToggleEnabledUser(eventArgs, userEditDto.Id);}"></SfCheckBox>
                                    </span>
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Field="@nameof(UserEditDto.Admin)" Width="150">
                            <Template>
                                @{
                                    var userEditDto = (context as UserEditDto);
                                    <span id="IsActive" title="@(userEditDto.Admin ? "Enabled" : "Disabled")">
                                        <SfCheckBox @bind-Checked="userEditDto.Admin" TChecked="bool"
                                                    @onchange="eventArgs => { ToggleAdminUser(eventArgs, userEditDto.Id); }"></SfCheckBox>
                                    </span>
                                }
                            </Template>
                        </GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </div>
}

<SfDialog Width="800px" Height="800px" IsModal="true" @bind-Visible="@IsUserModalVisible">
    <DialogTemplates>
        <Header>Add/Edit User</Header>
        <Content>
            <EditForm @ref="editForm" Model="@userEditDto" OnValidSubmit="AddUserOnSubmit">
                <DataAnnotationsValidator />
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="email">Email:</label>
                        <SfTextBox ID="email" Placeholder="Email"
                                   @bind-Value="@userEditDto.Email"></SfTextBox>
                        <ValidationMessage For="@(() => userEditDto.Email)" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="firstName">First Name:</label>
                        <SfTextBox ID="firstName" Placeholder="First Name"
                                   @bind-Value="@userEditDto.FirstName"></SfTextBox>
                        <ValidationMessage For="@(() => userEditDto.FirstName)" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="lastName">Last Name:</label>
                        <SfTextBox ID="lastName" Placeholder="Last Name"
                                   @bind-Value="@userEditDto.LastName"></SfTextBox>
                        <ValidationMessage For="@(() => userEditDto.LastName)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col=md-12 text-right" style="padding-top: 5px">
                        <SfButton IsPrimary="true" Type="button" title="Cancel"
                            @onclick="@(() => {Reset();})">Cancel</SfButton>
                        <SfButton IsPrimary="true" typeof="Submit">Update User</SfButton>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

<SfToast @ref="@ToastObj"
         ShowProgressBar="true"
         Timeout="5000"
         ShowCloseButton="true"
         Content="@toastContent"
         CssClass="@toastCss">
    <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>